$color_1: #ffffffde;
$color_2: #646cff;
$color_3: #535bf2;
$color_4: #213547;
$color_5: #747bff;
$font-family_1: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$background-color_1: #242424;
$background-color_2: #1a1a1a;
$background-color_3: #ffffff;
$background-color_4: #f9f9f9;
$border-color_1: #646cff;